<?xml version='1.0' encoding='utf-8'?>
<widget id="com.app.tabris_blank" version="0.1.0">
  <name>Tabris Blank App</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="stephnguets@yahoo.fr">
    ishigo1987
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
  
    <platform name="android">
      
        
   
        
        <!-- Changes mades only on TabrisJS 3.0+ -->
        
        <resource-file src="res/android/values/late_themes.xml" target="app/src/main/res/values/late_themes.xml" />
        
        <preference name="Theme" value="@style/Theme.Late" />
        
        <preference name="AndroidPersistentFileLocation" value="Internal" />
        
        <splash src="res/android/mdpi.png" density="mdpi" />
        
        <splash src="res/android/hdpi.png" density="hdpi" />
        
        <splash src="res/android/xhdpi.png" density="xhdpi" />
        
        <splash src="res/android/xxhdpi.png" density="xxhdpi"/>
        
        <splash src="res/android/xxxhdpi.png" density="xxhdpi"/>
        
        <icon src="res/android/mdpi.png" density="mdpi" />
        
        <icon src="res/android/hdpi.png" density="hdpi" />
        
        <icon src="res/android/xhdpi.png" density="xhdpi" />
        
        <icon src="res/android/xxhdpi.png" density="xxhdpi" />
        
        <icon src="res/android/xxxhdpi.png" density="xxxhdpi" />
    </platform>
</widget>
